
button.square {
    height: 150px;
    width: 150px;
    margin: 20px;
    vertical-align: top;
    display: inline-block;
    float: left;
}

button.square:nth-child(4n + 1) {
    clear: left;
}

button.square.hidePicture {
    background-image: url("/images/cloud-pattern.jpg");
    background-size: cover;
}