
button.square {
    height: 150px;
    width: 150px;
    margin: 20px;
    vertical-align: top;
}

button.square.hidePicture {
    background-image: url("/images/cloud-pattern.jpg");
    background-size: cover;
}